@charset "utf-8";


.poster{
    position:relative;
    margin:100px auto;
    background:#ff6600;
    height:200px;
    width:150px;
}
.descr{
    display:none;
    margin-left:-350px;
    padding:10px;
    margin-top:17px;
    background:#f3f3f3;
    height:200px;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
}
.poster:hover .descr{
    display:block;
    position:absolute;
    top:120px;
    z-index:9999;
    width:400px;
} 


.okstyle{
    text-align: left;
}


.shag{
    background: whitesmoke;
    border-radius: none;
}

.shag-old{
    background: #efefef;
    border-radius: none;
}



.footer-next{
    background: white;
    border-radius: 0px;
    padding:10px;
        border-top: 1px solid #dddee0;
}

#home-slider {
  background: url(../images/home/slider-bg.png) 0 100% repeat-x;
  position: relative;
}

#home-slider .main-slider {
  position: relative;
  height: 680px;
}

#home-slider .slide-text {
    position: absolute;
    top: 0px;
    right: 80px;
    width: 511px;
}

.animate-in .slide-text {
  -webkit-animation: fadeInLeftBig 1200ms cubic-bezier(0.190,1.000,0.220,1.000) 300ms both;
  animation: fadeInLeftBig 1200ms cubic-bezier(0.190,1.000,0.220,1.000) 300ms both;
}

#home-slider .slider-hill {
  position: absolute;
    right: 792px;
    top: 160px;
}

.animate-in .slider-hill {
  -webkit-animation: rotateIn 1000ms ease-in-out 200ms both;
  animation: rotateIn  1000ms ease-in-out 200ms both;
}

#home-slider .slider-house {
  position: absolute;
    right: 751px;
    top: 140px;
}

.animate-in .slider-house {
  -webkit-animation: flipInY 500ms ease-in-out 800ms both;
  animation: flipInY 500ms ease-in-out 800ms both;
}

#home-slider .slider-sun {
  position: absolute;
    right: 678px;
    top: 46px;
}

.animate-in .slider-sun {
  -webkit-animation: rotateIn 500ms ease-in-out 1200ms both;
  animation: rotateIn 500ms ease-in-out 1200ms both;
}

#home-slider .slider-birds1 {
  position: absolute;
    right: 738px;
        top: 130px;
}

.animate-in .slider-birds1 {
  -webkit-animation: flipInX 500ms ease-in-out 1200ms both;
  animation: flipInX 500ms ease-in-out 1200ms both;
}

#home-slider .slider-birds2 {
  position: absolute;
    right: 765px;
    top: 341px;
}

.animate-in .slider-birds2 {
  -webkit-animation: rotateInUpRight 500ms ease-in-out 1200ms both;
  animation: rotateInUpRight 500ms ease-in-out 1200ms both;
}

#home-slider .slider-birds3 {
  position: absolute;
    right: 837px;
    top: 43px;
}

.animate-in .slider-birds3 {
  -webkit-animation: rotateInDownLeft 500ms ease-in-out 1200ms both;
  animation: rotateInDownLeft 500ms ease-in-out 1200ms both;
}



#home-slider .word-n {
  position: absolute;
    left: 122px;
    top: 470px;
}

.animate-in .word-n {
  -webkit-animation: bounceInUp 1000ms ease-in-out 1600ms both;
  animation: bounceInUp 1000ms ease-in-out 1600ms both;
}


#home-slider .word-a {
  position: absolute;
    left: 149px;
    top: 470px;
}

.animate-in .word-a {
  -webkit-animation: bounceInUp  1000ms ease-in-out 1700ms both;
  animation: bounceInUp  1000ms ease-in-out 1700ms both;
}

#home-slider .word-p {
  position: absolute;
    left: 172px;
    top: 470px;
}

.animate-in .word-p {
  -webkit-animation: bounceInUp 1000ms ease-in-out 1800ms both;
  animation: bounceInUp 1000ms ease-in-out 1800ms both;
}

#home-slider .word-s {
  position: absolute;
    left: 216px;
    top: 470px;
}

.animate-in .word-s {
  -webkit-animation: bounceInUp 1000ms ease-in-out 1900ms both;
  animation: bounceInUp 1000ms ease-in-out 1900ms both;
}


#home-slider .word-i {
  position: absolute;
    left: 245px;
    top: 470px;
}

.animate-in .word-i {
  -webkit-animation: bounceInUp 1000msease-in-out 2000ms both;
  animation: bounceInUp 1000ms ease-in-out 2000ms both;
}

#home-slider .word-d {
  position: absolute;
    left: 269px;
    top: 470px;
}

.animate-in .word-d {
  -webkit-animation: bounceInUp 1000ms ease-in-out 2100ms both;
  animation: bounceInUp 1000ms ease-in-out 2100ms both;
}


#home-slider .word-e {
  position: absolute;
    left: 303px;
    top: 470px;
}

.animate-in .word-e {
  -webkit-animation: bounceInUp 1000ms ease-in-out 2200ms both;
  animation: bounceInUp 1000ms ease-in-out 2200ms both;
}


#home-slider .word-cms1 {
  position: absolute;
    left: 359px;
    top: 448px;
}

.animate-in .word-cms1 {
  -webkit-animation: bounceInUp 1000ms ease-in-out 2200ms both;
  animation: bounceInUp 1000ms ease-in-out 2200ms both;
}


#home-slider .word-cms2 {
  position: absolute;
    left: 403px;
    top: 448px;
}

.animate-in .word-cms2 {
  -webkit-animation: bounceInUp 1000ms ease-in-out 2200ms both;
  animation: bounceInUp 1000ms ease-in-out 2200ms both;
}

#home-slider .word-cms3 {
  position: absolute;
    left: 460px;
    top: 448px;
}

.animate-in .word-cms3 {
  -webkit-animation: bounceInUp 1000ms ease-in-out 2200ms both;
  animation: bounceInUp 1000ms ease-in-out 2200ms both;
}



#home-slider .step2-1 {
  position: absolute;
    
       left: 74px;
    top: 221px;

}

.animate-in .step2-1 {
  -webkit-animation: fadeIn 1000ms ease-in-out 2200ms both;
  animation: fadeIn 1000ms ease-in-out 600ms both;
}



#home-slider .step2-2 {
   
    position: absolute;
     left: 73px;
    top: 220px;
}

.animate-in .step2-2 {
  -webkit-animation: bounceInUp 1000ms ease-in-out 2200ms both;
  animation: bounceInUp 1000ms ease-in-out 200ms both;
}


#home-slider .step2-3 {
   
  position: absolute;
     left: 214px;
    top: 48px;
}

.animate-in .step2-3 {
  -webkit-animation: flipInY 1000ms ease-in-out 2200ms both;
  animation: flipInY 1000ms ease-in-out 900ms both;
}


#home-slider .step3-1 {
   
  position: absolute;
    left: 38px;
    top: 221px;
}

.animate-in .step3-1 {
  -webkit-animation: flipInY 1000ms ease-in-out 2200ms both;
  animation: flipInY 1000ms ease-in-out 900ms both;
}

#home-slider .step3-2 {
   
  position: absolute;
    left: 155px;
    top: 263px;
}

.animate-in .step3-2 {
  -webkit-animation: flipInY 1000ms ease-in-out 2200ms both;
  animation: flipInY 1000ms ease-in-out 900ms both;
}

#home-slider .step3-3 {
   
  position: absolute;
    left: 196px;
    top: 181px;
}

.animate-in .step3-3 {
  -webkit-animation: flipInY 1000ms ease-in-out 2200ms both;
  animation: flipInY 1000ms ease-in-out 900ms both;
}

#home-slider .step3-4 {
   
  position: absolute;
left: 232px;
    top: 21px;
}

.animate-in .step3-4 {
  -webkit-animation: flipInY 1000ms ease-in-out 2200ms both;
  animation: flipInY 1000ms ease-in-out 900ms both;
}

#home-slider .step3-5 {
   
  position: absolute;
left: 379px;
    top: 60px;
}

.animate-in .step3-5 {
  -webkit-animation: flipInY 1000ms ease-in-out 2200ms both;
  animation: flipInY 1000ms ease-in-out 900ms both;
}

#home-slider .step3-6 {
   
  position: absolute;
left: 77px;
    top: 60px;
}

.animate-in .step3-6 {
  -webkit-animation: flipInY 1000ms ease-in-out 2200ms both;
  animation: flipInY 1000ms ease-in-out 900ms both;
}


#home-slider h1{
  margin-top: 50px;
  margin-bottom: 25px;
}

#home-slider .btn-common {
  margin-top: 20px;
}

#home-slider .preloader {
  position: absolute;
  left: 0;
  top: 0;
  bottom: -30px;
  right: 0;
  background: #fafafa;
  text-align: center;
}

#home-slider .preloader > i {
  font-size: 48px;
  height: 48px;
  line-height: 48px;
  color: #00aeef;
  position: absolute;
  left: 50%;
  margin-left: -24px;
  top: 50%;
  margin-top: -24px;
}

div.tabs {
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #dddee0;
 border-radius: 3px;
    background: #fff;
        border-top: 3px solid #01abd0;
}
#logo_style{
    padding-top: 50px;
}
    

ul.tabNavigation {
list-style: none;
margin: 0;
padding: 0;
}

ul.tabNavigation li {
display: inline;
}

ul.tabNavigation li a {
padding: 3px 9px;
background-color: #666;
color: #000;
text-decoration: none;
}

ul.tabNavigation li a.selected,
ul.tabNavigation li a.selected:hover {
background: #FFF;
color: #000;
}

ul.tabNavigation li a:hover {
background: #ccc;
color: #000;
}

ul.tabNavigation li a:focus {
outline: 0;
}

div.tabs div {

border-radius:  3px;

}

div.tabs div h2 {
margin-top: 0;
}



* {
	margin:0;
	padding:0;
}

header,
footer,
section,
nav,
article,
hgroup,
details {
	display:block;
}

img {
	border:none;
}

ul {
	list-style:none;
}

body {
	    background: #edeef0;
	font:90% Arial, Verdana, Tahoma, sans-serif;
	color:#383838;
}

a {
	color:#4787ed;
}

a:hover {
	text-decoration:none;
}

h2 {
	font-size:120%;
}

::-webkit-input-placeholder {
	color: silver;
	font-size:90%;
}

:-moz-placeholder {
	color: silver;
	font-size:90%;
}

select,
input[type="text"] {
	min-width:200px;
}

optgroup {
	font-style:normal;
}

optgroup option {
	padding-left:1em;
}

input,
button,
textarea {
	font:90% Arial, Verdana, Tahoma, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="search"],
textarea {
	     width: 100%;
        padding: 6px;
    border-radius: 2px;
    border: 1px solid #aaaaaa;
        margin-top: -5px;
}

button,
input[type="submit"],
input[type="button"] {
	
	border:none;
	
	
	
	cursor:pointer;

}

.msie button {
	border:1px solid silver;
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
.button-active {
	background:#fdffbe url(../images/button-bg.png) 0 -50px repeat-x;
	box-shadow:0 0 1px #292a2b;
	-moz-box-shadow:0 0 1px #292a2b;
	-webkit-box-shadow:0 0 1px #292a2b;
}

button:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#ececec');
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ececec));
	background: -moz-linear-gradient(top,  #fff, #ececec);
	opacity:.3;
	cursor:default;
}

button img,
input[type="submit"] img,
input[type="button"] img {
	margin-right:3px;
}

.button-image {
	padding-left:10px;
	padding-bottom:6px;
}

.button-image img {
	
}



/*
	.loader
*/
.loader {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../images/dot-black-opacity.png);
	opacity:0;
	z-index:5000;
}

.msie .loader {
	background:transparent;
}

.loader span {
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	margin:-25px 0 0 -50px;
	padding-left:40px;
	width:90px;
	line-height:50px;
	text-align:center;
	color:#fff;
	background:#000 url(../images/loader-big-black.gif) 15px center no-repeat;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	cursor:default;
}



/*
	.box
*/
.box {
	/* border-top:2px solid #4787ed; */
	background:#f0f0ee;
	box-shadow:0 0 3px #b9b9bb;
	-moz-box-shadow:0 0 3px #b9b9bb;
	-webkit-box-shadow:0 0 3px #b9b9bb;
	padding:15px;
}

.box.map {
	padding:0;
	border-bottom:2px solid #4D4D4F;
}

.box-menu {
	margin:1em 0;
}

.box-menu li {
	margin:.5em 0;
}

.box-menu img {
	vertical-align:middle;
}

.box-actions {
	background:#4787ed url(../images/blue-x-bg.png) repeat-x;
	color:#fff;
	padding:7px 15px;
}

.box-actions a {
	color:#fff;
}

.box-buttons {
	padding:10px 15px;
	margin:15px -15px -15px -15px;
	background:#4787ed url(../images/blue-x-bg.png) repeat-x;
	color:#fff;
}

.box-buttons a {
	color:#fff;
}

.box-title,
.box-header {
	background:#4787ed url(../images/blue-x-bg.png) repeat-x;
	color:#fff;
	padding:7px 15px;
	margin:10px -15px 10px -15px;
	font-weight:normal;
}

.box-title {
	margin-top:-15px;
}

.box-title.box-title-first {
	margin-top:-15px;
}



/*
	.map
*/

.map-header {
	position:relative;
	background:#4d4d4f;
	color:#fff;
	/*border-bottom:1px solid #e9e9e9;*/
	padding:0 15px;
	font-size:80%;
	line-height:25px;
}

.map-header a {
	color:#fff;
}

.map-items .item {
	position:relative;
	padding:0 15px;
	border-bottom:1px solid #e9e9e9;
	line-height:35px;
}

.map-wait {
	height:30px;
	background:#fff url(../images/loader-small-white.gif) center center no-repeat;
}

.map-items img {
	vertical-align:middle;
}

.map-items ul .item { padding-left:35px; }
.map-items ul ul .item { padding-left:65px; }
.map-items ul ul ul .item { padding-left:95px; }
.map-items ul ul ul ul .item { padding-left:125px; }
.map-items ul ul ul ul ul .item { padding-left:155px; }
.map-items ul ul ul ul ul ul .item { padding-left:185px; }
.map-items ul ul ul ul ul ul ul .item { padding-left:215px; }
.map-items ul ul ul ul ul ul ul ul .item { padding-left:245px; }
.map-items ul ul ul ul ul ul ul ul ul .item { padding-left:275px; }
.map-items ul ul ul ul ul ul ul ul ul ul .item { padding-left:305px; }

.map-items .item-odd {
	background:#f6f6f6;
}

.map-items .item-even(even) {
	background:#fdfdfd;
}

.map-items li:hover > .item {
	background:#fff; /* url(../images/cur-silver.png) center left no-repeat; */
}

.map-items li:hover > .item a {
	color:#333435;
}

.map-items li:hover .item:hover {
	background:#fdffbe; /* url(../images/cur-orange.png) center left no-repeat; */
}

.map-placeholder {
	border-top:1px solid #4787ed;
}

.map-drag {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;   
}

.map-drag .item,
.map-drag .item:hover {
	border:1px dashed #ccc;
	margin:2px;
	cursor:move;
}

.map-items .ui-sortable-helper > .item {
	border:none;
        
}

.map-items .item-expander {
	position:absolute;
	top:13px;
	margin-left:-15px;
	width:10px;
	height:10px;
	display:block;
	background:url(../images/expander-collapse.png) no-repeat;
	cursor:pointer;
}

.map-items .item-expander-expand {
	background-image:url(../images/expander-expand.png);
}



/*
	.form
*/
.form section {
	position: relative;
	margin:1.5em 0;
	padding:.1em 0;
}

.form section:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.form section label {
	display: block;
    float: left;
	width:25%;
	padding-right:2%;
}

.form section em {
	display:block;
	color:gray;
	font-size:75%;
	margin-top:.3em;
	font-style:normal;
}

.form section span {
	display:block;
    zoom: 1;
	/* clear: right; */
	margin-left:27%;
}

.form section span i {
	display:block;
	font-style:normal;
	margin-bottom:.5em;
}

.form section span label {
	display:inline;
	float:none;
	width:auto;
	padding:0;
}

.form p {
	margin:1.5em 0;
}

.dialog-form p {
	margin:.5em 0;
}

.dialog-form label {
	display:block;
	font-size:90%;
	margin-bottom:.2em;
}



/*
	.message
*/
.message {
	position:absolute;
	top:-100px;
	right:30px;
	background:silver;
	padding:10px 15px;
	color:#fff;
	box-shadow:0 0 3px silver;
	-moz-box-shadow:0 0 3px silver;
	-webkit-box-shadow:0 0 3px silver;
	border-top-width:0;
	z-index:10000000;
}

#errorMessage {
	background:#ff3f3f;
}

#successMessage {
	    background: #4cc0e4;
}

#noticeMessage {
	background:#fbef9b;
	color:#383838;
}



/*
	#noscript, #badBrowser
*/
#badBrowser {
	display:none;
}

#badBrowser,
#noscript {
	position:absolute;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#E4E4E4;
	z-index:1000000;
}

#badBrowserIn,
#noscript p {
	margin: 100px auto 0 auto;
	background:#fff;
	color:#000;
	width:500px;
	padding:25px;
	box-shadow:0 0 3px #b9b9bb;
	-moz-box-shadow:0 0 3px #b9b9bb;
	-webkit-box-shadow:0 0 3px #b9b9bb;
	font-size:120%;
}

#badBrowserIn {
	padding-top:10px;
	padding-bottom:10px;
}

#badBrowserIn p {
	margin:1em 0;
}

#noscript {
	color:red;
}